{% extends 'colaborador/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Contato - Grão-mestre Tratores{% endblock %}

{% block content %}
<section class="py-5" style="background-color: #eaf4e0;">
  <div class="container">
    <h2>Cadastrar novo cliente</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Cadastrar">
    </form>

    {% load static %}
    link para {% static 'a.txt' %}
  </div>
</section>
{% endblock %}
